/Assignment.ipynb
/Assignment2.ipynb
/Basics.ipynb
/Car_price.ipynb
/car_price_dataset.csv
/Correction.ipynb
/Data_set_assignment.xlsx
/first.ipynb
/function_test.ipynb
/Introduction_to_pandas.ipynb
/Presentation.ipynb
/Presentation1.ipynb
/Student_performance1.xlsx
/superket.ipynb
/supermarket_sales - Sheet1.csv
/Tesla.ipynb
/Test.csv
/TSLA_2010-06-29_2025-02-13.csv